@use '../../../../styles/variables.scss' as vars;

.app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: vars.$color-secondary;

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .logo h1 {
    margin: 0;
    font-size: 1.5rem;
    color: vars.$color-primary-text;
  }
}

@media screen and (max-width: 768px) {
  .app-header {
    flex-direction: column;
    align-items: center;
    .logo h1 {
      font-size: 1.2rem;
    }
  }
  .app-footer {
    .newsletter {
      h2 {
        font-size: 1.5rem;
      }
      .input-container {
        input[type="email"] {
          width: 80vw;
        }
      }
    }
  }

}
