@use 'sass:color' as color;
@use '../../../../styles/variables.scss' as var;

button, a {
  font-family: var.$body-font-family;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;

  &:hover {
      background-color: color.adjust(var.$color-primary, $lightness: -10%);
  }

  &:disabled {
    background-color: color.adjust(var.$color-primary, $lightness: -20%);
    cursor: not-allowed;
  }

}

.primary {
  border: none;
  background-color: var.$color-primary;
  color: var.$color-secondary;
}

.secondary {
  background-color: var.$color-primary;
  color: var.$color-secondary;
  border: 1px solid var.$color-secondary;
}
