@use '../../../../styles/variables.scss' as vars;


.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: vars.$color-primary;
  color: vars.$color-primary-text;
  width: 100vw;
  padding: 5rem 0;
  background-image: url('../../../../assets/images/background-top-left.svg'), url('../../../../assets/images/background-bottom-right.svg');
  background-position: 0% -50%, right 0% bottom -1000%;
  background-repeat: no-repeat , no-repeat;

  h2 {
    margin: 0 auto;
    width: 50vw;
    color: vars.$color-secondary;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    input[type="email"] {
      width: 30vw;
      padding: 0.5rem;
      border: 1px solid vars.$color-primary-text;
      border-radius: 0.25rem;
      box-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
      font-size: 1rem;
      color: vars.$color-primary-text;
      background-color: vars.$color-secondary;
    }
  }

  .message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1rem;
    color: vars.$color-tertiary-text;

    .error-message {
      color: vars.$color-error;
    }
  }
}

@media  screen and (width <= 768px) {
  .newsletter {
    background-image: none;
    padding: 2rem 0;

    h2 {
      width: 80vw;
    }

    .form-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding: 1rem;
    }

    .input-container {
      flex-direction: column;

      input[type="email"] {
        width: 80vw;
      }
    }
  }

}
