@use '../../../../styles/variables.scss' as vars;

.navbar {
  background-color: vars.$color-secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 44px;

  a {
    font-size: 1.75rem;
    color: vars.$color-primary-text;
    margin-right: 1rem;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: none;
      color: vars.$color-primary;
      cursor: pointer;
    }

    &.active {
      color: vars.$color-primary;
      cursor: none;
    }
  }
}
