@use '../../../../styles/variables.scss' as vars;

.news-list {
  padding: 2rem;
  background: transparent;

  .error {
    color: vars.$color-error;
    text-align: center;
  }

  .articles {
    display: grid;
    grid-template-rows: 100px;
    grid-auto-rows: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    justify-content: center;
  }

  .featured-article {
    grid-column: 1 / -1;
    grid-row: span 2;
    }
}

@media screen and (width <= 768px) {
  .news-list {
    .articles {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  .featured-article {
    display: flex;
    flex-direction: column;
  }

}
