@use '../../../../styles/variables.scss' as vars;

.news-list {
  padding: 2rem;
  background: transparent;

  .error {
    color: vars.$color-error;
    text-align: center;
  }

  .articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-content: center;
  }

  .featured-article {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
  }
}

