@use '../../../styles/variables.scss' as vars;

.home {
  display: flex;
  flex-direction: column;
  background-color: vars.$color-secondary;

}

.list-articles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;

}

.list-articles h2 {
  color: vars.$color-primary-text;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  margin-left: 2rem;align-self: start;
}

@media screen and (width <= 768px) {
  .home {
    flex-direction: column;
    align-items: center;
  }

  .list-articles {
    width: 100%;
    align-items: center;
  }

  .list-articles h2 {
    text-align: center;
    margin-left: 0;
  }

}
