$color-primary: #7C4EE4;
$color-secondary: #FFFFFF;
$color-primary-text: #333333;
$color-secondary-text: #666666;
$color-tertiary-text: #999999;
$color-background: #E2E2E2;
$font-stack: 'Helvetica Neue', sans-serif;

$heading-font-family: "Raleway", sans-serif;
$body-font-family: "Roboto", sans-serif;

$font-size-base: 16px;
$font-weight-regular: 400;
$font-weight-bold: 700;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: $font-stack;
  color: $color-primary-text;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  color: $color-primary-text;
}

body {
  font-family: $body-font-family;
  font-size: $font-size-base;
  color: $color-secondary-text;
  background-color: $color-background;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 3.25rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.625rem;
}
h6 {
  font-size: 1.5rem;
}

p .big {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: $font-weight-regular;
}

p {
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: $font-weight-regular;
}
